<main>
    <section>
        <div>
            <div>
                <div>
                    <div>
                        <div>LY 318</div>
                        <div>El Al</div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>LHR</div>
                                    <div>London</div>
                                </div>
                            </div>
                            <div></div>
                            <div>
                                <div>
                                    <div>TLV</div>
                                    <div>Tel Aviv-Yafo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>Arrived</div>
                <div>On time</div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div>LHR</div>
                    <div>London, EN, GB</div>
                    <div>London Heathrow Airport</div>
                </div>
                <div>
                    <div>Flight Departure Times</div>
                    <div>05-Jul-2018</div>
                </div>
                <div>
                    <div>
                        <div>Scheduled</div>
                        <div>22:30<span> BST</span></div>
                    </div>
                    <div>
                        <div>Actual</div>
                        <div>22:33<span> BST</span></div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>Terminal</div>
                        <div>4</div>
                    </div>
                    <div>
                        <div>Gate</div>
                        <div>3</div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>TLV</div>
                    <div>Tel Aviv-Yafo, IL</div>
                    <div>Ben Gurion International Airport</div>
                </div>
                <div>
                    <div>Flight Arrival Times</div>
                    <div>06-Jul-2018</div>
                </div>
                <div>
                    <div>
                        <div>Scheduled</div>
                        <div>05:25<span> IDT</span></div>
                    </div>
                    <div>
                        <div>Actual</div>
                        <div>05:19<span> IDT</span></div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>Terminal</div>
                        <div>3</div>
                    </div>
                    <div>
                        <div>Gate</div>
                        <div>N/A</div>
                    </div>
                </div>
            </div>
        </div>

            <div>
                <div>
                    <div>
                        <div>
                            <div>LY 318</div>
                            <div>El Al</div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>LHR</div>
                                        <div>London</div>
                                    </div>
                                </div>
                                <div></div>
                                <div>
                                    <div>
                                        <div>TLV</div>
                                        <div>Tel Aviv-Yafo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Arrived</div>
                    <div>On time</div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>LHR</div>
                        <div>London, EN, GB</div>
                        <div>London Heathrow Airport</div>
                    </div>
                    <div>
                        <div>Flight Departure Times</div>
                        <div>05-Jul-2018</div>
                    </div>
                    <div>
                        <div>
                            <div>Scheduled</div>
                            <div>22:30<span> BST</span></div>
                        </div>
                        <div>
                            <div>Actual</div>
                            <div>22:33<span> BST</span></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>Terminal</div>
                            <div>4</div>
                        </div>
                        <div>
                            <div>Gate</div>
                            <div>3</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>TLV</div>
                        <div>Tel Aviv-Yafo, IL</div>
                        <div>Ben Gurion International Airport</div>
                    </div>
                    <div>
                        <div>Flight Arrival Times</div>
                        <div>06-Jul-2018</div>
                    </div>
                    <div>
                        <div>
                            <div>Scheduled</div>
                            <div>05:25<span> IDT</span></div>
                        </div>
                        <div>
                            <div>Actual</div>
                            <div>05:19<span> IDT</span></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>Terminal</div>
                            <div>3</div>
                        </div>
                        <div>
                            <div>Gate</div>
                            <div>N/A</div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section>
        This is a section
    </section>
</main>

<!--ul>
  <li *ngFor="let flight of flights">
    <article [innerHTML]="flight"></article>
  </li>
</ul-->
